<div id="main">
    <div id="title-btn-hired-recruter">
        <div class="heading">
            <h3>Comprehensive Platform for Realible</h3>
        </div>
        <div class="description">
            <h3>Job aportunities and Internships</h3>
        </div>
        <div class="btn-recruter-hired">
            <a href="/job-Cards">I'm A Job Seeker</a>
            <!-- <a href="/Signup-form">I'm A Recruiter</a> -->
            <button type="button" id="recruter-btn" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                I'm A Recruiter
            </button>
            
        </div>
    </div>
    <!---------------------------------------------------------->
    <div id="image">
        <div class="balls2"></div>
        <div class="balls"></div>
        <div class="balls3"></div>
        <img src="/images/title-image.jpeg" alt="">
    </div>
</div>
